.FeaturesHome{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.grid-features{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.FeatureCard{
  padding: 1.5rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.247);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1.25rem;
  transition: 0.7s all ease;
}


.FeatureCard > header > img{
  max-width: 100%;
}

.FeatureCard > header{
  width: 2.6rem;
  height: 2.6rem;
}

.title{
  height: 3.5rem;
}

.FeatureCard:hover{
  box-shadow: 0px 0px 20px rgb(255, 145, 0);
  cursor: pointer;
}