.Header-navbar{ 
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: var(--standard-white);
  padding: 1.5rem 2rem 1rem 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}

.brand-div{
  font-size: 1.5rem;
  font-weight: 800;
}

.brand-div > a{
  color: var(--standard-black);
  text-decoration: none;
}

.brand-div > a > .colorNote{
  color: var(--standard-yellow);
}

.button-mobile{
  display: none;
}

.nav-ul{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: 0 2rem;
  list-style: none;
  margin: 0;
}

.nav-item > a{
  text-decoration: none;
  transition: 0.5s;
  font-size: 1.1rem;
  color: var(--standard-black);
  font-weight: 400;
}

.nav-item > a:hover{
  color: var(--standard-yellow)
}

.contact-button-li > a{
  border: 2px solid var(--standard-white);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  color: var(--standard-black);
  font-weight: 500;
  text-decoration: none;
  transition: 0.5s;
  background-color: var(--light-yellow);
  font-weight: 700;
}

.contact-button-li > a.is-active{
  border: 2px solid var(--standard-yellow);
}

.contact-button-li > a:hover{
  color: var(--standard-yellow);
}

@media only screen and (max-width: 860px){
  .button-mobile{
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     height: 2rem;
     width: 2rem;
     border: none;
     background: none;
     cursor: pointer;
  }

  .button-mobile > div{
     background-color: var(--standard-black);
     height: 0.4rem;
     width: 100%;
     border-radius: 0.2rem;
     transition: all 0.5s ease-in-out;
     transform-origin: right;
  }

  .button-mobile:hover div:first-child{
     transform: rotate(-45deg);
  }

  .button-mobile:hover div:nth-child(2){
     opacity: 0;
  }

  .button-mobile:hover div:nth-child(3){
     transform: rotate(45deg);
  }

  .navtag {
     width: 100%;
     display: flex;
     flex-flow: column nowrap;
     align-items: center;
     justify-content: center;
     height: 0vh;
     overflow: hidden;
     opacity: 0;
     transition: all 0.6s ease-in-out;
  }

  .navtag.isActive{
     display: flex;
     height: 100vh;
     opacity: 1;
  }

  .nav-ul{
     flex-direction: column;
     gap: 3rem 0;
     padding: 0 1rem;
  }

  .nav-item > a{
     font-size: 1.3rem;
  }

  .contact-button-li > a{
     font-size: 1.3rem;
  }
}